body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

select {
    padding: 5px;
    font-size: 16px;
}

#photoBox {
    margin-top: 20px;
}

#photo {
    border: 1px solid #ccc;
}

#infoBox {
    margin-top: 20px;
    font-size: 16px;
}
